.title {
    font-size: 1.2em;
    font-weight: bold;
}
.result-path {
    font-size: .7em;
}
.result-detail {
    padding-left: 7px;
    padding-bottom: 4px;
    font-size: .8em;
    color:rgb(200,200,200);
}
.icon-info-frame{
    padding-top: 5px;  
}
.result-content {
    border-radius: 7px;
    padding: 10px;
    width: 220px;
    height: 95px;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
    color: white;
}
.tracker-grid {
    spacing: 8px;
    -shell-grid-horizontal-item-size: 230px;
    -shell-grid-vertical-item-size: 110px;
}

